# Ignore docker secrets files
/.docker/db/environment/passwords/*
!/.docker/db/environment/passwords/*.template
/.docker/api/secrets/*
!/.docker/api/secrets/*.template

# Ignore .env files
*.env*
!*.env.template
